{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Starter Template for Bootstrap</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">
<body>

    <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'order:order_list'%}">Carpet</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Link</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                  {% if request.user.is_authenticated%}
                    <li class="nav-item"><a href="{% url 'logout'%}" data-toggle="modal" class="nav-link">Logout</a></li>
                  {% else %}
                  <li class="nav-item"><a href="{% url 'login'%}" data-toggle="modal" class="nav-link">Login</a></li>
                  {% endif%}

                  {% if request.user.executer.get %}
                  <li class="nav-item"><a href="{% url 'profile:my_profile_executer' slug=request.user.username%}" data-toggle="modal" class="nav-link">{{request.user.executer.get}}</a></li>
                  {% elif request.user.customer.get %}
                  <li class="nav-item"><a href="#modal1" data-toggle="modal" class="nav-link">{{request.user.customer.get}}</a></li>
                  {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% block content%}
{% endblock %}
    </body>
</html>
