{% extends 'base.html' %}
{% block content%}


<div class="container py-3">
    <div class="row mt-2">
        <div class="col-md-3 pb-4">
            <!-- product sidebar filters -->
            <div class="row">
                <div class="col-md-12 col-6 mb-4">
                    <div class="list-group small rounded-0">
                        <div class="list-group-item rounded-0 bg-light text-uppercase text-dark">Style</div>
                        <a class="list-group-item list-group-item-action active" id="list1" data-toggle="list" href="#list1">Dapibus <span class="badge badge-pill badge-dark float-right">12</span></a>
                        <a class="list-group-item list-group-item-action" id="list2" data-toggle="list" href="#list2">Morbi leo <span class="badge badge-pill badge-light float-right">1</span></a>
                        <a class="list-group-item list-group-item-action" id="list3" data-toggle="list" href="#list3">Porta ac <span class="badge badge-pill badge-primary float-right">3</span></a>
                        <a class="list-group-item list-group-item-action" id="list4" data-toggle="list" href="#list4">Vestibulum <span class="badge badge-pill badge-light float-right">18</span></a>
                    </div>
                </div>
                <div class="col-md-12 col-6 mb-4">
                    <div class="list-group small rounded-0">
                        <a href="#" class="list-group-item rounded-0 bg-light text-uppercase text-dark">Color</a>
                        <a href="#" class="list-group-item">Dapibus</a>
                        <a href="#" class="list-group-item">Morbi</a>
                        <a href="#" class="list-group-item">Facili</a>
                        <a href="#" class="list-group-item">Porta</a>
                        <a href="#" class="list-group-item">Vestib</a>
                    </div>
                </div>
                <div class="col-md-12 col-6 mb-4">
                    <div class="list-group small rounded-0">
                        <a href="#" class="list-group-item bg-light text-uppercase text-dark">Type</a>
                        <a href="#" class="list-group-item">Facilisis</a>
                        <a href="#" class="list-group-item">Leo risus</a>
                        <a href="#" class="list-group-item">Consectetur</a>
                        <a href="#" class="list-group-item">At eros</a>
                    </div>
                </div>
                <div class="col-md-12 col-6 mb-4">
                    <div class="list-group small rounded-0">
                        <a href="#" class="list-group-item bg-light text-uppercase text-dark">Model</a>
                        <a href="#" class="list-group-item">Dapibus</a>
                        <a href="#" class="list-group-item">Morbi</a>
                        <a href="#" class="list-group-item">Facili</a>
                        <a href="#" class="list-group-item">Porta</a>
                        <a href="#" class="list-group-item">Vestib</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">

            <!-- product list-->
            {% for order in orders %}
            <div class="row mb-5">
                <div class="col-md-2 col-sm-3 col-12 text-center">
                    <a href="{{order.get_absolute_url}}"><img src="https://robohash.org/N1W.png" class="mx-auto img-fluid" alt="product thumbnail"></a>
                </div>
                <div class="col-12 d-block d-sm-none"> &nbsp; </div>
                <div class="col-md-6 col-sm-7 col-6">
                    <h5 class="text-uppercase"><a href="#modalProduct" data-toggle="modal">{{order.title|truncatewords:"10"}}</a></h5>
                    <h6 class="small text-wide">3 styles, 6 colors</h6>
                    <p class="text-truncate mb-0">
                        {{order.text|truncatewords:'10'}}
                    </p>
                    <a href="#modalProduct" class="btn btn-outline-secondary mt-2">$45.00</a>
                </div>
                <div class="col-md-4 col-sm-2 col-6 text-right pl-0">
                    <h6 class="small text-wide text-truncate">Category</h6>
                    <div class="float-right text-nowrap"><span class="text-primary"><i class="ion-ios-star fa fa-star"></i> <i class="ion-ios-star fa fa-star"></i> <i class="ion-ios-star fa fa-star"></i> <i class="ion-ios-star fa fa-star"></i></span></div>
                </div>
            </div>
            <hr>
          </div>
          {% endfor %}

</div>
  {% endblock %}
