<h3>{{ order.title }}</h3>
{% if request.user == creator.user%}
<a href="{% url 'order:order_delete' slug=order.slug%}">Delete</a>
{% endif %}
<a href="{{order.customer.get_absolute_url}}"><b>{{order.customer}}</b></a>

<form class=""  id='response-form' method="post">{% csrf_token %}
  {{form.as_p}}
  <input type="submit" name="" value="Отправить">
</form>
<hr>
{% for response in responses%}
{{response}}
<form method="post" id="formExecuter">{% csrf_token %}
  <input type="hidden" name="parent" value="{{response.executer_id}}">
  <input type="submit" value="Ok">
</form>
{% if request.user == creator.user%}
<a href="{% url 'order:response_detail' pk=response.pk%}">Одобрить</a>
{% endif %}
<a href="{{response.executer.get_absolute_url}}">{{response.executer}}</a>
<br>
->
{% endfor %}
