{% extends 'base.html' %}
{% block content%}

    {% if user.is_authenticated %}
      Hi {{ user.username }}!
      {{user.customer}}
      <p><a href="{% url 'logout' %}">logout</a></p>
      <a href="{% url 'profile:my_profile_customer' slug=user.username%}">My Profile</a>
    {% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">login</a>
    {% endif %}
    <a href="{% url 'order:order_create'%}">Create</a>
    <br>
    <a href="{% url 'profile:executer_list'%}">Executer List</a>
    <a href="{% url 'profile:customer_list'%}">Customer List</a>
    <br>
    <hr>


    {% for order in orders %}
      <a href="{{ order.get_absolute_url }}">{{ order }}</a>
      <br>

      {{ order.customer }}
      <br>
      {{ order.executor }}
      <hr>
      {% endfor %}
    {% if is_paginated %}
    <hr>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-sm">
            {% if page_obj.has_previous %}
              {% if not search %}
              <li class="page-item">
                  <a class="page-link" href="{% url 'order:order_list' %}?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
              </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="{% url 'package_list' %}?{{search}}&page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
              </li>
              {% endif %}
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% endif %}
            {% for object in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="{% url 'order:order_list' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
              {% if not search %}
              <li class="page-item">
                  <a class="page-link" href="{% url 'order:order_list' %}?page={{ page_obj.next_page_number }}">Next</a>
              </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="{% url 'order:order_list' %}?{{search}}&page={{ page_obj.next_page_number }}">Next</a>
              </li>
              {% endif %}
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
  {% endblock %}
