{% extends 'base.html'%}
{% block content%}
<div class="container py-3">
    <div class="row mt-2">
        <div class="col-md-3 pb-4">
            <!-- product sidebar filters -->
            <div class="row">
                <div class="col-md-12 col-6 mb-4">
                    <div class="list-group small rounded-0">
                        <div class="list-group-item rounded-0 bg-light text-uppercase text-dark">Style</div>
                        <a class="list-group-item list-group-item-action active" id="list1" data-toggle="list" href="#list1">Dapibus <span class="badge badge-pill badge-dark float-right">12</span></a>
                        <a class="list-group-item list-group-item-action" id="list2" data-toggle="list" href="#list2">Morbi leo <span class="badge badge-pill badge-light float-right">1</span></a>
                        <a class="list-group-item list-group-item-action" id="list3" data-toggle="list" href="#list3">Porta ac <span class="badge badge-pill badge-primary float-right">3</span></a>
                        <a class="list-group-item list-group-item-action" id="list4" data-toggle="list" href="#list4">Vestibulum <span class="badge badge-pill badge-light float-right">18</span></a>
                    </div>
                </div>
                <div class="col-md-12 col-6 mb-4">
                    <div class="list-group small rounded-0">
                        <a href="#" class="list-group-item rounded-0 bg-light text-uppercase text-dark">Color</a>
                        <a href="#" class="list-group-item">Dapibus</a>
                        <a href="#" class="list-group-item">Morbi</a>
                        <a href="#" class="list-group-item">Facili</a>
                        <a href="#" class="list-group-item">Porta</a>
                        <a href="#" class="list-group-item">Vestib</a>
                    </div>
                </div>
                <div class="col-md-12 col-6 mb-4">
                    <div class="list-group small rounded-0">
                        <a href="#" class="list-group-item bg-light text-uppercase text-dark">Type</a>
                        <a href="#" class="list-group-item">Facilisis</a>
                        <a href="#" class="list-group-item">Leo risus</a>
                        <a href="#" class="list-group-item">Consectetur</a>
                        <a href="#" class="list-group-item">At eros</a>
                    </div>
                </div>
                <div class="col-md-12 col-6 mb-4">
                    <div class="list-group small rounded-0">
                        <a href="#" class="list-group-item bg-light text-uppercase text-dark">Model</a>
                        <a href="#" class="list-group-item">Dapibus</a>
                        <a href="#" class="list-group-item">Morbi</a>
                        <a href="#" class="list-group-item">Facili</a>
                        <a href="#" class="list-group-item">Porta</a>
                        <a href="#" class="list-group-item">Vestib</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">

            <!-- product list-->
            {% for order in orders%}
            <div class="row mb-5">
                <div class="col-md-2 col-sm-3 col-12 text-center">
                    <a href="{{order.get_absolute_url}}"><img src="{{order.image.url}}" class="mx-auto img-fluid" alt="{{order.title}}"></a>
                </div>
                <div class="col-12 d-block d-sm-none"> &nbsp; </div>
                <div class="col-md-6 col-sm-7 col-6">

                    <h5 class="text-uppercase"><a href="{{order.get_absolute_url}}" data-toggle="modal">{{order.title|truncatewords:'7'}}</a></h5>
                    <h6 class="small text-wide">3 styles, 6 colors</h6>
                    <p class="text-truncate mb-0">
                        {{ order.text|truncatewords:'12'}}
                    </p>
                    <a href="#modalProduct" class="btn btn-outline-secondary mt-2">$45.00</a>
                </div>
                <div class="col-md-4 col-sm-2 col-6 text-right pl-0">
                    <h6 class="small text-wide text-truncate">Category</h6>
                    <div class="float-right text-nowrap"><span class="text-primary"><i class="ion-ios-star fa fa-star"></i> <i class="ion-ios-star fa fa-star"></i> <i class="ion-ios-star fa fa-star"></i> <i class="ion-ios-star fa fa-star"></i></span></div>
                </div>
            </div>
            <hr>
            {% endfor%}
        </div>
    </div>
    {% if is_paginated %}
    <hr>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-sm">
            {% if page_obj.has_previous %}
              {% if not search %}
              <li class="page-item">
                  <a class="page-link" href="{% url 'order:order_list' %}?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
              </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="{% url 'package_list' %}?{{search}}&page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
              </li>
              {% endif %}
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            {% endif %}
            {% for object in page_obj.paginator.page_range %}
                <li class="page-item"><a class="page-link" href="{% url 'order:order_list' %}?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
              {% if not search %}
              <li class="page-item">
                  <a class="page-link" href="{% url 'order:order_list' %}?page={{ page_obj.next_page_number }}">Next</a>
              </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="{% url 'order:order_list' %}?{{search}}&page={{ page_obj.next_page_number }}">Next</a>
              </li>
              {% endif %}
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
    <div id="modalProduct" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="mb-0">Digital SLR</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4 text-center">
                            <img src="//robohash.org/92340?size=150x150" class="mx-auto img-fluid" alt="Product detail image">
                            <h6 class="small text-wide text-uppercase"><a href="">Digital SLR</a></h6>
                        </div>
                        <div class="col-lg-8">
                            <p class="lead">
                                Shoreditch vegan artisan Helvetica. Tattooed Codeply Echo Park Godard kogi, next level irony ennui twee squid fap selvage. Meggings flannel Brooklyn literally small batch, mumblecore PBR try-hard kale chips.
                            </p>
                            <h2>$129.00</h2>
                            <a href="./cart.html" class="btn btn-lg btn-primary mt-1">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
